$def with (page)

<html>
<head>
	$if page.has_key('title'):
		<title>$page.title</title>
	$else:
		<title>Spill-Chick</title>
<style type="text/css">
body { margin:0px; background:#fff }/*url(static/splash.png) no-repeat -70px -90px }*/
body, td, select, textarea, input { font-family: Tahoma, Geneva, sans-serif; font-size:125% }
table { border:0px solid #000 }
td { border:0px solid #000 }
select { background-color: #fff }
h1 { margin-bottom: 1px }
textarea, select { background-color:#ffc }
input { background-color:#000; color:#fff }
</style>
<script src="static/spill-chick.js"></script>
</head>
<body>

<div style="background-color:#000; padding:5px">
<img src="static/logo.jpg" style="margin:0px; vertical-align:middle" alt="" height="48" width="48">
<a style="color:#fff; font-size:40px; font-weight:bold; vertical-align:middle">Spill-Chick</a>
</div>

$:page

<hr>
Session: $session
<hr>
web.input: $web.input()
</small>
</body></html>
